@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: large;
}

body {
    margin: 0;
}

body,
button {
    font-family: 'Poppins', sans-serif;
}


header {
    background: linear-gradient(#E1D1DF ,#E18C9E, #D189C5);
    padding: 20px 20px 0 20px;
}

nav {
    display: none;
}

section,
footer {
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
}

button {
    background-color: black;
    color: rgba(255,255,255,0.8);
    border-radius: 8px;
    padding: 20px;
    border: none;
    font-size: 1em;
}

button strong {
    color: white;
}

/* logo and menu */

.logo-and-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

/* Hero text */

.hero {
    text-align: center;
}

.hero img {
    margin-bottom: -7px;
}

.hero h1 {
    font-size: 3em;
}

.hero p, 
footer a,
nav a {
    color: #313433;

}
.hero p {
    font-size: 1.2em;
}

/* bottom section */

section h2 {
    font-size: 1.9em;
}

section p {
    font-size: .9em;
}

footer a {
    font-size: .95em;
    margin-right: 15px;
}

@media (min-width: 800px) {
    header {
        padding: 30px 30px 0 30px;
    }

    section,
    footer {
        padding: 30px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        font-size: 1.2em;
    }

    .menu-toggle {
        display: none;
    }

    nav {
        display: block;
    }

    nav a {
        padding: 5px;
        margin: 0 15px;
        font-size: 1.2em;
    }

    .search {
        width: 30px;
        height: auto;
        display: inline;
        vertical-align: middle;
    }

    .hero h1 {
        font-size: 3.5em;
    }

    section h2 {
        font-size: 2.5em;
        margin-bottom: 0;
    }

    section p {
        font-size: 1.1em;
    }

    section img {
        display: block;
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: 100% 10%;
    }
}

@media (min-width: 1200px) {
    /* Logo and menu */
    .logo-and-menu, .hero, section, footer {
        width: 80%;
        margin: 0 auto;
    }

    .logo-and-menu {
        padding-top: 30px;
    }

    .search {
        width: 35px;
    }

    button {
        font-size: 1.4em;
    }

    /* Hero text */

    .hero {
        margin-top: 80px;
    }

    .hero h1 {
        font-size: 4em;
        margin-bottom: 0;
    }

    .hero p {
        font-size: 1.3em;
        width: 60%;
        margin: 0 auto;
    }

    .hero button {
        margin: 20px 0;
    }

    .hero img {
        margin-top: 120px;
    }

    /* bottom section */
    section {
        padding: 100px 20px;
    }
    section div {
        width: 60%;
    }
    section img {
        display: inline-block;
        width: 40%;
        height: auto;
        float: right;
    }

    section p {
        font-size: 1.3em;
        padding-right: 40px;
    }

    footer {
        padding: 100px 20px;
        font-size: 1.4em;
    }
}